#comment {
  margin-top: 16px;
}

#comments-count {
  padding-bottom: 16px;
  border-bottom: 1px solid;
}

#comments-list {
  margin-left: 10px;
  padding-top: 16px;
}

#comments-content {
  border-bottom: 1px solid #666;
}